[Unit]
Description=Docker Daemon

[Service]
ExecStart=/usr/bin/dockerd --bip "192.168.251.1/24" -H tcp://0.0.0.0:2375 -H unix://var/run/docker.sock

[Install]
WantedBy=multi-user.target
